<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>441382575811-s1c21iut69tqf0brdciolbtf9tnl51tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441382575811-s1c21iut69tqf0brdciolbtf9tnl51tc</string>
	<key>API_KEY</key>
	<string>AIzaSyDIuOjt9EfhLxJVUfROiAEXsx-65zCQttg</string>
	<key>GCM_SENDER_ID</key>
	<string>441382575811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gat.RaceHub</string>
	<key>PROJECT_ID</key>
	<string>racehub-1504026206984</string>
	<key>STORAGE_BUCKET</key>
	<string>racehub-1504026206984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:441382575811:ios:c69dd1273978ca98</string>
	<key>DATABASE_URL</key>
	<string>https://racehub-1504026206984.firebaseio.com</string>
</dict>
</plist>